<ngb-carousel>
    <ng-template ngbSlide>
        <img src="assets/learning1.png" class="d-block img-fluid m-auto" alt="Random first slide" width="600px" height="300px">
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/learning2.jpg" class="d-block img-fluid m-auto" alt="Random second slide" width="600px" height="300px">
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/learning3.jpg" class="d-block img-fluid m-auto" alt="Random third slide" width="600px" height="300px">
    </ng-template>
</ngb-carousel>