<nav class="navbar navbar-dark navbar-expand-sm fixed-top bg-warning mb-5">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="fa fa-tree text-success"></i>
        </a>  
        <button class="navbar-toggler" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="nav mr-auto">
                <li class="nav-item"><a class="nav-link text-white" routerLink=""><span class="fa fa-home fa-lg"></span> Home</a></li>
                <li class="nav-item"><a class="nav-link text-white" routerLink="/tree"><span class="fa fa-sitemap fa-lg"></span> Tree</a></li>
                <li class="nav-item"><a class="nav-link text-white" routerLink="/map"><span class="fa fa-usb fa-lg"></span> Map</a></li>
                <li class="nav-item"><a class="nav-link text-white" routerLink="/practice"><span class="fa fa-th-list fa-lg"></span> Practice</a></li>
                <li class="nav-item"><a class="nav-link text-white" routerLink="/profile"><span class="fa fa-address-card fa-lg"></span> Profile</a></li>
                <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-list fa-lg"></span>Activities
                        </a>
                        <div class="dropdown-menu bg-warning" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" routerLink="/story">Child Stories</a>
                            <a class="dropdown-item" routerLink="/early-education">Early Education</a>
                            <a class="dropdown-item" routerLink="/driving-test">Driving Theory Test</a>
                            <a class="dropdown-item" routerLink="/power">Power Chart</a>
                            <a class="dropdown-item" routerLink="/practice">Practice Math</a>
                            <a class="dropdown-item" routerLink="/workout">Workout Checklist</a>
                        </div>
                    
                </li>
            </ul>
            <span routerLink="/login" class="navbar-item active" *ngIf="username==='guest'">
                <span class="fa fa-sign-in"></span> Sign in&emsp;
            </span>
            <span routerLink="/register" class="navbar-item active" *ngIf="username==='guest'">
                <span class="fa fa-user-plus"></span> Sign up
            </span>
            <span routerLink="/index" class="navbar-item active" *ngIf="username && username!=='guest'" (click)="signOut()">
                <span class="fa fa-sign-out"></span> Sign out
            </span> 
            <p>{{user}}</p>
        </div>            
    </div>
</nav>