<app-jumbotron></app-jumbotron>
<div class="container">
    <div class="row row-content">
        <div class="col-12 my-3">
            <div class="media">
                <img src="assets/driving_test.png" class="d-flex mr-3 img-thumbnail align-self-center" width="200px" height="200px">
                <div class="media-body">
                        <p class="mt-5"><span class="badge badge-danger">NEW</span> Driving test preparation.</p>
                        <button class="btn btn-primary" routerLink="/driving-test">Try it!</button>
                </div>
            </div>
        </div>
        <div class="col-12 my-3">
            <div class="media">
                <img src="assets/tree.jpg" class="d-flex mr-3 img-thumbnail align-self-center" width="200px" height="200px">
                <div class="media-body">
                     <p class="mt-5">All knowledge connected. Find your position. Aim your target.</p>
                </div>
            </div>
        </div>
        <div class="col-12 my-3">
            <div class="media">
                <img src="assets/expand.jpg" class="d-flex mr-3 img-thumbnail align-self-center" width="200px" height="200px">
                <div class="media-body">
                    <p class="mt-5">Expand your knowledge. See the world from a higher place.</p>  
                </div>
            </div>
        </div>
        <div class="col-12 my-3">
            <div class="media">
                <img src="assets/practice.png" class="d-flex mr-3 img-thumbnail align-self-center" width="200px" height="200px">
                <div class="media-body">
                    <p class="mt-5"> Practice makes progress. Practice makes perfect.</p>
                </div>
            </div>
        </div>
        <div class="col-12 my-3">
            <div class="media">
                <img src="assets/target.jpg" class="d-flex mr-3 img-thumbnail align-self-center" width="200px" height="200px">
                <div class="media-body">
                    <p class="mt-5">Target oriented learning plans, specially customized for you.</p>
                </div>
            </div>
        </div>    
    </div>
</div>