<div class="container" *ngIf="username && username!=='guest'">
    <span>{{username}}</span>
    <div class="row">
        <div class="col-12">
            <p>Username: Username</p>
        </div>
    </div>
        <p>Password:</p><button>Change</button>
        <p>Age:</p><p>Age</p>

        <button>Edit</button>
</div>
<div class="container" *ngIf="username==='guest'">
    <div class="row">
        <div class="col-12 col-sm-5 offset-2">
            <img src="assets/sad_panda.png" width="300px" height="300px">
        </div>
        <div class="col-12 col-sm-5">
            <h1 class="mt-5 mr-5">Please sign in first</h1>
        </div>
    </div>
</div>
