<ng-template #content let-c="close" let-d="dismiss">    
    <div class="modal-header bg-light">
        <h4 class="modal-title">Reset Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm.value)" novalidate>
            <div class="form-group row">
                <label for="password" class="col-5 col-md-3 col-form-label">Password</label>
                <input type="password" class="form-control col-5 col-md-8 border-primary" name="password1" placeholder="Password" required minlength="8" maxlength="24" [(ngModel)]="password1" />
            </div>
            <div class="form-group row">
                <label for="password" class="col-5 col-md-3 col-form-label">Password</label>
                <input type="password" class="form-control col-5 col-md-8 border-primary" name="password2" placeholder="Repeat Password" required minlength="8" maxlength="24" [(ngModel)]="password2" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" [disabled]="!resetForm.valid || password1 !== password2 || usernameTaken" value="Reset" />
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
            </div>
            <p class="text-danger" *ngIf="(password1 && password1.length < 8) || (password2 && password2.length < 8)">Password too short</p>
            <p class="text-danger" *ngIf="(password1 && password1.length > 7) && (password2 && password2.length > 7) && password1 !== password2">Repeat password not the same</p>
        </form>
    </div>
</ng-template>

<div class="container" *ngIf="user">
    <div class="col-sm-6">
        <form>
            <div class="form-group row">
                <label for="username" class="col-12 col-md-2 col-form-label">Username</label>
                <div class="col-12 col-md-10">
                    <input class="form-control border-primary" name="username" placeholder="{{user.username}}" [disabled]="true">
                </div>
            </div>
            
            <div class="form-group row">
                <label for="password" class="col-12 col-md-2 col-form-label">Password</label>
                <div class="col-12 col-md-10">
                    <input class="form-control border-primary" name="password" placeholder="********" [disabled]="true">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-md-3 offset-md-8">
                    <button type="button" class="btn btn-primary" (click)="openModal(content)">Reset Password</button>
                </div>
            </div>
        </form>

        <form>
            <div class="form-group row">
                <label for="photo" class="col-6 col-md-2 col-form-label">Photo</label>
                <div class="col-6 col-md-4 border-primary">
                    <svg style="fill:#ffffff;height:150px;width:120px;" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                        <rect width="80" height="100" style="fill: #17a2b8;" />
                        <path d="M33.5,10.4C33.7,5.1,29.2,1,24,1s-9.8,4.2-9.5,9.4c0.1,1.1,1.1,6.3,1.1,6.3c0.8,4.5,3.8,8.3,8.4,8.3s7.6-3.8,8.4-8.4C32.4,16.6,33.4,11.4,33.5,10.4z"></path>
                        <path d="M47,47H1l1.1-8.2c0.5-2.7,2.9-4.3,5.6-4.9L24,31l16.3,2.9c2.7,0.6,5.1,2.2,5.5,4.9L47,47z"></path>  
                    </svg>
                </div>
                <div class="col-6 offset-6 col-md-4 offset-md-2">     
                    <input type="file" id="selectedFile" style="display: none;" />
                    <input type="button" class="btn btn-primary mt-2" value="Upload Photo" onclick="document.getElementById('selectedFile').click();" />
                </div>
            </div>
        </form>

        <form #userInfoForm="ngForm" (ngSubmit)="updateUser(userInfoForm.value)" novalidate>    
            <div class="form-group row">
                <label for="email" class="col-12 col-md-2 col-form-label">Email</label>
                <div class="col-12 col-md-10">
                    <input class="form-control border-primary" name="email" [(ngModel)]="email" placeholder="{{user.email}}">
                </div>
            </div>

            <div class="form-group row">
                <label for="firstname" class="col-12 col-md-2 col-form-label">Firstname</label>
                <div class="col-12 col-md-4">
                    <input class="form-control border-primary" name="firstname" [(ngModel)]="firstname" placeholder="{{user.firstname}}">
                </div>
                <label for="lastname" class="col-12 col-md-2 col-form-label">Lastname</label>
                <div class="col-12 col-md-4">
                    <input class="form-control border-primary" name="lastname" [(ngModel)]="lastname" placeholder="{{user.lastname}}">
                </div>
            </div>
            
            <div class="form-group row">
                <label for="birthday" class="col-12 col-md-2 col-form-label">Birthday</label>
                <div class="col-12 col-md-10">
                    <div class="input-group">
                        <input class="form-control border-primary" placeholder="{{user.birthday}}"
                                name="birthday" [(ngModel)]="selectDay" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" (click)="d.toggle()" type="button">
                                <i class="fa fa-calendar fa-lg"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="age" class="col-12 col-md-2 col-form-label">Age</label>
                <div class="col-12 col-md-4">
                    <input *ngIf="!user.birthday && selectDay" class="form-control border-primary" name="age" [(ngModel)]="age" [ngModelOptions]="{standalone: true}" placeholder="{{ today.year - selectDay.year }}">
                    <input *ngIf="!user.birthday && !selectDay" class="form-control border-primary" name="age" placeholder="">
                    <input *ngIf="user.birthday" class="form-control border-primary" name="age" placeholder="{{ today.year - user.birthday.slice(0, 4) }}">
                </div>
                <label for="sex" class="col-12 col-md-1 offset-md-1 col-form-label">Sex</label>
                <div class="col-12 col-md-4">
                    <select class="custom-select border-primary" name="sex" [(ngModel)]="user.sex">
                        <option [ngValue]="undefined" disabled selected>Sex</option>
                        <option *ngFor="let sex of sexes" [ngValue]="sex">{{ sex }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="education" class="col-12 col-md-2 col-form-label">Education</label>
                <div class="col-12 col-md-10">
                    <select class="custom-select border-primary" name="education" [(ngModel)]="user.education">
                        <option [ngValue]="undefined" disabled selected>Highest Education Level</option>
                        <option *ngFor="let edu of educations" [ngValue]="edu">{{ edu }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="country" class="col-12 col-md-2 col-form-label">Country</label>
                <div class="col-12 col-md-6">
                    <select class="custom-select border-primary" name="country" [(ngModel)]="user.country">
                        <option [ngValue]="undefined" disabled selected>Country / Region</option>
                        <option *ngFor="let country of countries" [ngValue]="country">{{ country }}</option>
                    </select>
                </div>
                <label for="state" class="col-12 col-md-1 col-form-label">State</label>
                <div class="col-12 col-md-3">
                    <input class="form-control border-primary" name="state" [(ngModel)]="state" placeholder="{{user.state}}">
                </div>
            </div>

            <div class="form-group row">
                <label for="address" class="col-12 col-md-2 col-form-label">Address</label>
                <div class="col-12 col-md-10">
                    <textarea class="form-control border-primary" name="address" [(ngModel)]="address" placeholder="{{user.address}}" aria-label="With textarea"></textarea> 
                </div>
            </div>

            <div class="form-group row">
                <label for="aboutme" class="col-12 col-md-2 col-form-label">About Me</label>
                <div class="col-12 col-md-10">
                    <textarea class="form-control border-primary" name="aboutme" [(ngModel)]="aboutme" placeholder="{{user.aboutme}}" aria-label="With textarea"></textarea> 
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-md-2 offset-md-2">
                    <input type="submit" class="btn btn-primary" value="Save Changes"> 
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container" *ngIf="!user">
    <div class="row">
        <div class="col-12 col-sm-5 offset-2">
            <img src="assets/sad_panda.png" width="300px" height="300px">
        </div>
        <div class="col-12 col-sm-5">
            <h1 class="mt-5 mr-5">Please sign in first</h1>
        </div>
    </div>
</div>
