<div class="container">
    <h1>Sign up</h1>
    <form #regForm="ngForm" (ngSubmit)="regUser(regForm.value)" novalidate>
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username" required minlength="3" maxlength="20" [(ngModel)]="username" (input)="verifyUsername(username)"/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password1" placeholder="Password" required minlength="8" maxlength="24" [(ngModel)]="password1" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password2" placeholder="Repeat Password" required minlength="8" maxlength="24" [(ngModel)]="password2" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" [disabled]="!regForm.valid || password1 !== password2 || usernameTaken" value="Sign up" />
        </div>
        <p *ngIf="usernameTaken">Username already exist</p>
        <p *ngIf="username && username.length < 3">Username too short</p>
        <p *ngIf="username && username.length > 2 && ((password1 && password1.length < 8) || (password2 && password2.length < 8))">Password too short</p>
        <p *ngIf="username && username.length > 2 && (password1 && password1.length > 7) && (password2 && password2.length > 7) && password1 !== password2">Repeat password not the same</p>
    </form>
</div>